<form class="form-horizontal">
	<div class="controls-row">
		<label for="searchTextBox" class="control-label">Search:</label>
		<div class="controls">
			<input type="text" id="searchTextBox" ng-model="listFilterCtrl.listFilterService.searchText"></input>
		</div>
	</div>
	<div class="controls-row">
		<label for="sportComboBox" class="control-label">Sport:</label>
		<div class="controls">
			<select id="sportComboBox" ng-model="listFilterCtrl.listFilterService.activeFilters.sport">
				<option ng-repeat="sport in ['', 'Basketball', 'Hockey', 'Football']">{{sport}}</option>
			</select>
		</div>
	</div>

	<div class="controls-row">
		<label for="cityComboBox" class="control-label">City:</label>
		<div class="controls">
			<select id="cityComboBox" ng-model="listFilterCtrl.listFilterService.activeFilters.city">
				<option ng-repeat="city in ['', 'Dallas', 'Los Angeles', 'Boston', 'New York']">{{city}}</option>
			</select>
		</div>
	</div>

	<div class="controls-row">
		<label class="control-label">Featured:</label>
		<div class="controls">
			<input type="checkbox" ng-model="listFilterCtrl.listFilterService.activeFilters.featured" ng-false-value=""></input>
		</div>
	</div>
</form>
