<form class="">
	<div class="form-group form-group-sm col-xs-6 col-sm-12">
		<label for="sportComboBox" class="control-label">Sport:</label>
			<select id="sportComboBox" class="form-control" ng-model="listFilterCtrl.listFilterService.activeFilters.sport">
				<option ng-repeat="sport in listFilterCtrl.listFilterService.sportTypes">{{sport}}</option>
			</select>
	</div>

	<div class="form-group form-group-sm col-xs-6 col-sm-12">
		<label for="cityComboBox" class="control-label">City:</label>
			<select id="cityComboBox" class="form-control" ng-model="listFilterCtrl.listFilterService.activeFilters.city">
				<option ng-repeat="city in listFilterCtrl.listFilterService.cities">{{city}}</option>
			</select>
	</div>

	<div class="form-group form-group-sm col-xs-6 col-sm-12">
		<label for="searchTextBox" class="control-label">Search:</label>
			<input type="text" id="searchTextBox" class="form-control" ng-model="listFilterCtrl.listFilterService.searchText">
	</div>

	<div class="featured-click form-group col-xs-6 col-sm-12">
		<p class="visible-xs-block"><br></p>
			<input type="checkbox" ng-model="listFilterCtrl.listFilterService.activeFilters.featured" ng-false-value=""> 
			<label class="control-label"> Featured</label>
	</div>
</form>
